{% extends 'base.html' %}
{% block content %}
    <div>
        {% if current_user.is_authenticated  %}
        <h2>Bem-vindo, {{ current_user.nome }}!</h2>
        <span class="btn btn-dark">{{current_user.nome}} {{current_user.nome}}</span>
        <a href="{{url_for('logout')}}" class="btn btn-danger">Sair</a>
        {% else %}
        <form action="" method="post" class="row">
        <h2>Fazer Login</h2>
        {{form.csrf_token}}

        {{form.cadastro.label()}}
        {{form.cadastro(class="form-control")}}

        {{form.senha.label()}}
        {{form.senha(class="form-control")}}

        {{form.btnSubmit(class="btn btn-primary mt-4")}}
        
        <div class="col-12 mt-4">Tem cadastro? <a href="{{url_for('cadastrar')}}">Fazer cadastro</a></div>

        {% endif %}
        </form>
    </div>
{% endblock %}